.navBarContainer {
  height: 130px;
  width: 100%;
  background-color: #090a2d;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 15px;
  position: sticky;
  z-index: 1;
  background-image: url("../../../assets/banner.jpg");
  background-size: cover;
  background-position: center;
  text-decoration: none;
}

.logoContainer {
  height: 75%;
  width: 90px;
  background-color: #f5f6f8;
  margin-left: 1%;
  padding: 5px;
}

.logoImage {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.buttonContainer {
  display: flex;
  justify-content: space-evenly;
  margin-left: 30%;
}
.navButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 1%;
  text-decoration: none;
  white-space: nowrap;
  transition: all 0.3s ease;
  padding: 15px 15px;
}
.navButtonText {
  color: #f5f6f8;
  font-weight: 600;
  font-size: 18px;
  white-space: nowrap;
  transition: color 0.3s ease;
}

.navButtons:hover {
  background-color: rgba(224, 224, 224, 0.3);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.navButtons:hover .navButtonText {
  color: #00e5ff;
}

.downloadButtonWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  margin-left: 5%;
}
.downloadButtonContainer {
  white-space: nowrap;
  transition: all 0.3s ease;
  padding: 6px 6px;
  border: 1.5px solid #28a745;
  border-radius: 6px;
}
.downloadButtonText {
  color: #28a745;
  font-weight: 600;
  font-size: 18px;
  white-space: nowrap;
  transition: color 0.3s ease;
}
.downloadButtonContainer:hover {
  background-color: #28a745;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.downloadButtonContainer:hover .downloadButtonText {
  color: #f5f6f8;
}
