.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 990;
}

.modalContent {
  background-color: #f5f6f8;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 250px;
  position: relative;
  bottom: 18%;
  /* right: 5%; */
  background-image: url("../../../assets/backgrounds/banner.jpg");
  background-size: cover;
  background-position: center;
  text-decoration: none;
  background-color: #090a2d;
}

.modalLink {
  text-decoration: none;
  color: #f5f6f8;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  width: 100%;
  text-align: center;
  border: 1px solid #f5f6f8;
  padding: 5px;
  border-radius: 6px;
}

.modalLink:hover {
  color: #007bff;
}
