.topContainer {
  height: 50px;
  background-color: #090a2d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem 1rem;
  position: sticky;
  z-index: 1;
  background-size: cover;
  background-position: center;
  text-decoration: none;
  flex-wrap: nowrap;
}
.detailsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 2%;
  white-space: nowrap;
}
.detailsContainer p {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f5f6f8;
  font-weight: 400;
  font-size: 16px;
}
.Icon {
  height: 15px;
  width: 15px;
  color: #f5f6f8;
}
.buttonContainer {
  margin-right: 4%;
}
.buttonContainer button {
  border-radius: 4px;
  border: 1px solid black;
  padding: 0.4rem;
  font-weight: 550;
}
.buttonContainer button:hover {
  background-color: #28a745;
  color: #f5f6f8;
}
.bannerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  background-color: white;
  width: 100%;
}
.bannerContainer img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 300px;
}

@media (max-width: 1024px) {
  .bannerContainer img {
    height: 200px;
  }
}
@media (max-width: 798px) {
  .buttonContainer {
    margin-right: 0;
  }
  .bannerContainer img {
    height: 150px;
  }
}
@media (max-width: 640px) {
  .topContainer {
    height: 80px;
    justify-content: center;
    flex-direction: column;
  }
  .detailsContainer {
    justify-content: center;
    margin-left: 0;
  }
  .buttonContainer {
    margin-bottom: 5px;
  }
  .detailsContainer p {
    font-size: 14px;
  }
  .detailsContainer img {
    height: 15px;
    width: 15px;
  }
  .buttonContainer button {
    width: 100%;
    font-size: 12px;
    padding: 0.2rem;
    white-space: nowrap;
  }
  .bannerContainer img {
    height: 100px;
  }
}
