.container {
  position: relative;
  width: 100%;
  height: auto;
}

.carouselItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carouselImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

/* Arrow Styling */
.arrow {
  position: absolute;
  top: 50%;
  background: none;
  border: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.leftArrow {
  left: 10px;
}

.rightArrow {
  right: 10px;
}

.arrowImageWrapperLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.arrowImageWrapperRight {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.arrowIcon {
  width: 100%;
  height: 100%;
  color: white;
  transition: transform 0.3s ease; /* Ensure smooth scaling on hover */
}

/* Show arrows on hover */
.container:hover .arrow {
  opacity: 0.67;
}

/* Scale image on hover */
.container:hover .arrow img {
  transform: scale(1.1);
}

/* Add a shadow effect on arrow hover */
.arrow:hover img {
  filter: drop-shadow(0 8px 12px rgba(0, 0, 0, 0.4));
}
